<title>Travel Map</title>
<!--Include the leaflet and clustering stylesheets and scripts-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0/dist/leaflet.css" />
<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
<script type='text/javascript' src="https://unpkg.com/leaflet@1.0.0/dist/leaflet.js"></script>
<script type='text/javascript' src='https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js'></script>
<!--Create leaflet map-->
<div id="mapid" style="height:100%; width:100%"></div>
<script type="text/javascript" src="static/js/map.js"></script>
<script type="text/javascript">
    myVar = createMap({{ photos | tojson }})
</script>